.table {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    margin: 50px 20px;
    flex-basis: 29%;
    color: black;
    background: rgb(175, 167, 167);
}
