.detail-wrapper {
    position: relative;
}
.popover {
    position: absolute;
    width: 300px;
    background: white;
    z-index: 10;
    padding: 30px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #424242;
}
.popover::after {
    content: " ";
    position: absolute;
    top: 5%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -10px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}
.emp-img {
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-color: #bbb;
    border-radius: 50%;
}
.intro {
    display: flex;
    padding: 10px 0;
}

.name,.designation{
    padding: 5px 30px;
}
.name{
    font-size: 26px;
}

.team-heading,.project-heading{
    font-size: 14px;
    margin: 0;
    color: grey;
}
.team,.project{
    margin-top: 0;
    font-size: 18px;
}