.tables-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    justify-content: flex-start;
    margin:0 auto;
    padding: 50px;
    background-color: white;
    border: 1px double black;
}
